{% load i18n %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Voron"/>
    <meta name="description" content="New Lab for InternetDevels"/>
    <meta name="robots" content="noindex,nofollow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% block title %}{% trans "New Lab" %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="{% static 'main.js' %}"></script>

<body>
    <h1 id="h1"><a href="/">{% trans "New Lab" %}</a></h1>
    <div id="sidebar"> {% block sidebar %} {% endblock %} </div>
    <div id="container">
        <nav id="menu">
            {% block nav-global %}
            <ul>
                <!-- MENU -->
                <li class="menu-item"><a href="#" id="drop-down-menu">{% trans "Menu" %}</a></li>
                <li class="menu-item">
                {% if link %}
                    <a href="{{ link.1 }}">{{ link.0 }}</a>
                {% else %}
                    <a href="/">{% trans "Main Page" %}</a>
                {% endif %}
                </li>
                <li class="menu-item">
                {% if user.is_authenticated %}
                    <div><a href="/user/{{ user.id }}">{{ user.username }}</a></div><div><a id="logout" href="/logout">{% trans "Log out" %}</a></div>
                {% else %}
                    <a href="/login">{% trans "log in" %}</a>
                {% endif %}
                </li>
            </ul>
            {% endblock %}
        </nav>
        {% if submenu %}
            <nav id="submenu">
                <ul>
                    <!-- SUBMENU -->
                    {% for li in submenu %}
                        <a href="{{ li.1 }}"><li class="submenu-item">{{ li.0 }}</li></a>
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}

        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <footer>
          <span>{% trans "Created by" %}: <a href="mailto:m.keda@internetdevels.ua">Voron</a></span>
          <span class="right">{% trans "Powered by" %}: <a href="https://www.djangoproject.com/">Django</a></span>
        </footer>
    </div>

</body>
</html>